$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome";

@font-face {
	font-family: 'Bree';
	src: url('fonts/BreeSerif-Regular.otf') format('opentype');
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* RESET */
.container-fluid {
    padding: 0px;
    font-family: 'Bree', Arial, sans-serif;
}

a:hover {
	text-decoration: none;
}

/* VIEWS */
#view-main, #view-design, #view-projects {
	padding: 0;
	width: 100%;
	height: 100%;
	height: auto;
	min-height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0; 
}

#view-design .view-content, #view-projects .view-content {
	margin-top: 150px;
	position: absolute;
	width: 100%;
}

.view-content .skills-buttons button {
	font-size: 1.4em;
	padding: 10px 80px;
	border: none;
	margin: 20px 0;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.view-content .skills-buttons button i {
	margin-right: 10px;
	font-size: 0.8em;
}

.view-content .skills-buttons button:nth-child(even) {
	background-color: #c56459;
	color: #ec7c6d;
}

.view-content .skills-buttons button:nth-child(odd) {
	background-color: #ec7c6d;
	color: #c56459;
}

#view-main {
	background: url('../images/background-main.png') repeat 0 0;
}

#view-main .view-content {
	margin-top: 300px;
	position: absolute;
	width: 100%;
}

#view-main .view-content h1 {
	color: #ec7c6d;
	font-size: 70px;
	margin: 0;
}

#view-main .view-content h2 {
	color: #d1cbd2;
	font-size: 40px;
	margin: 0;
}

#view-design {
	background: url('../images/background-design.png') repeat 0 0;
}

#view-design .view-content .description {
	margin: 40px 0;
}

#view-design .view-content .description h1 {
	color: #ec7c6d;
	font-size: 40px;
	margin: 5px 0 10px 0;
}

#view-design .view-content .description h2 {
	color: #d1cbd2;
	font-size: 24px;
	margin: 0;
}

#view-design .view-content .design-page {
	background-color: #fff;
	padding: 0;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(153,153,153,1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(153,153,153,1);
	box-shadow: 0px 0px 15px 0px rgba(153,153,153,1);
}

#view-design .view-content .design-page .design-logo {
	border: 1px solid #d1cbd2;
	margin: 20px 0 20px 10px;
	padding: 10px;
	color: #d1cbd2;
	text-align: center;
}

#view-design .view-content .design-page .design-menu {
	margin-right: 0;
	padding: 0;
}

#view-design .view-content .design-page .design-menu ul {
	background-color: #8c858d;
	margin: 20px 0;
	height: 40px;
	color: #999;
	list-style: none;
	text-align: center;
}

#view-design .view-content .design-page .design-menu ul li {
	color: #d1cbd2;
	float: left;
	padding: 10px 5px;
}

#view-design .view-content .design-page .design-slider {
	border-top: 1px solid #d1cbd2;
	border-bottom: 1px solid #d1cbd2;
	padding: 80px 0;
	color: #d1cbd2;
	text-align: center;
}

#view-design .view-content .design-page .design-services h1 {
	color: #d1cbd2;
	font-size: 1em;
	margin-bottom: 15px;
}

#view-design .view-content .design-page .design-services ul {
	list-style: none;
	-moz-padding-start: 0;
	-webkit-padding-start: 0;
	-khtml-padding-start: 0;
	-o-padding-start: 0;
	padding-start: 0;
}

#view-design .view-content .design-page .design-services ul li {
	width: 100%;
	height: 4px;
	background-color: #d1cbd2;
	margin: 7px 0;
}

#view-design .view-content .design-page .design-social {
	color: #d1cbd2;
	text-align: center;
}

#view-design .view-content .design-page .design-social .box {
	border: 1px solid #d1cbd2;
	margin: 10px;
	padding: 100px 0;
}

#view-design .view-content .design-page .design-clients .client-left,
#view-design .view-content .design-page .design-clients .client-right {
	font-size: 36px;
	color: #d1cbd2;
	margin-top: 20px;
}

#view-design .view-content .design-page .design-clients ul {
	list-style: none;
	-moz-padding-start: 0;
	-webkit-padding-start: 0;
	-khtml-padding-start: 0;
	-o-padding-start: 0;
	padding-start: 0;
}

#view-design .view-content .design-page .design-clients ul li {
	float: left;
	padding: 30px 20px;
 	margin: 12px;
	border: 1px solid #d1cbd2;
	color: #d1cbd2;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#view-design .view-content .design-page .design-rodape {
	padding: 20px;
	background-color: #d1cbd2;
	color: #fff;
	text-align: center;
}

#view-projects {
	background: url('../images/background-projects.png') repeat 0 0;
}

 #view-projects .view-content .project {
 	height: 180px;
 	overflow: hidden;
 	margin: 0;
 	padding: 0;
 }
 
#view-projects .view-content .project img {
  width: 100%;
}

#view-projects .view-content .project .project-description {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding: 20px;
  background-color: #c56459;
  opacity: 0.95;
  filter: alpha(opacity=95);
}

#view-projects .view-content .project .project-description h1 {
  color: #fff;
}

#view-projects .view-content .project .project-description p {
  color: #FFCBC4;
}

#view-projects .view-content .project .project-description a {
  background-color: #ec7c6d;
  color: #c56459;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#view-projects .view-content .project .project-description a:hover {
  background-color: #FFCBC4;
}


/* PESSOAL */
logo {
	padding: 0;
}

menu {
	padding: 0;
}


#logo {
	float: left;
	width: 230px;
	height: 100px;
	margin-top: 20px;
	background-color: #c56459;
	cursor: pointer;
	z-index: 9999;
}

#logo .title {
	color: #fff;
	font-size: 22px;
	margin: 20px 0 0 20px;
}

#logo .subtitle {
	color: #FFCBC4;
	font-size: 19px;
	margin: -5px 0 0 20px;
}

#menu-content {
	margin-top: 10px;
	position: relative;
	overflow: hidden;
	float: right;
	width: 100px;
	height: 140px;
	-webkit-transition: all 0.2s ease 0.05s;
	-moz-transition: all 0.2s ease 0.05s;
	-o-transition: all 0.2s ease 0.05s;
	transition: all 0.2s ease 0.05s;
	z-index: 9999;
}

#menu-content.show {
	width: 600px !important;
	height: 525px !important;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#menu {
	position: absolute;
	right: -530px;
}

.show #menu {
	position: relative !important;
	right: 0 !important;
}

#menu-nav {
	float: right;
	height: 60px;
	background-color: #c56459;
	width: 600px;
}

#menu-nav ul {
	padding: 0;
}

#menu-nav ul li {
	float: left;
	list-style: none;
}

#menu-nav ul li a {
	color: #ec7c6d;
	text-transform: uppercase;
	font-weight: 900;
	padding: 20px 10px;
	height: 60px;
	display: inline-block;
}

#menu-nav ul li a:hover {
	color: #fff;
}

#menu-nav ul li.list ul  {
	padding: 13px 15px;
	cursor: pointer;
}

#menu-nav ul li.list ul li {
	height: 5px;
	width: 40px;
	background-color: #ec7c6d;
	margin: 3px;
	clear: both;
}

#menu-contato, #form-contato {
	clear: both;
	background-color: #ec7c6d;
	float: right;
	width: 600px;
}

#menu-contato a {
	padding: 0 17px;
	float: left;
}

#menu-contato .title {
	font-size: 40px;
	color: #c56459;
	margin-left: 20px;
	margin-top: 13px;
	float: left;
}

#menu-contato a span {
	color: #c56459;
	font-size: 40px;
	padding: 20px 0;
}

#form-contato form {
	padding: 0 20px;
	clear: both;
}

#form-contato form label {
	color: #c56459;
}


/* ANIMAÇÕES */
.anime-title-first {
	position: relative;
	display: block;
    -webkit-animation: titleFirst 0.5s ease-in-out;
}

.anime-title-second {
	position: relative;
	display: block;
    -webkit-animation: titleSecond 1.5s ease;
}

.anime-title-third {
	position: relative;
	display: block;
    -webkit-animation: titleThird 1.5s ease-in-out;
}


@-webkit-keyframes titleFirst {
    0% {
    	visibility: hidden;
    	opacity: 0;
    	top: -300px;
    }
    100% {
    	top: 0;
    	opacity: 1;
    	visibility: visible;
    }
}

@-webkit-keyframes titleSecond {
    0% {
    	visibility: hidden;
    	opacity: 0;
    	top: -500px;
    }
    100% {
    	left: 0;
    	visibility: visible;
    	opacity: 1;
    }
}

@-webkit-keyframes titleThird {
    0% {
    	bottom: -500px;
    	visibility: hidden;
    	opacity: 0;
    }
    100% {
    	bottom: 0;
    	visibility: visible;
    	opacity: 1;
    }
}

@-webkit-keyframes burst {
  0% {
    opacity: .6;
  }

  50% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes burst {
  0% {
    opacity: .6;
  }

  50% {
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
