$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome";

@font-face {
	font-family: 'Bree';
	src: url('fonts/BreeSerif-Regular.otf') format('opentype');
}

/************** RESET ****************/
body {
  padding: 0;
}

.container-fluid {
    padding: 0px;
    font-family: 'Bree', Arial, sans-serif;
}

a:hover {
	text-decoration: none;
}

/************** GENERAL-VIEWS ****************/
#view-main, #view-design, #view-projects, #view-systems, #view-sites {
	padding: 0;
	width: 100%;
	height: 100%;
	height: auto;
	min-height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0; 
}

#view-design .view-content, #view-projects .view-content, #view-systems .view-content, #view-sites .view-content {
	margin-top: 150px;
	position: absolute;
	width: 100%;
}

/************** VIEW-SYSTEMS ****************/
#view-systems {
	background: url('../images/background-systems.png') repeat 0 0;
}

#view-systems .view-content {
	text-align: center;
}

#view-systems .view-content .systems-box {
	font-family: 'Lato', sans-serif;
	background-color: #3a3b4a; 
	color: #ff8282;
	padding: 50px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 25px 0px rgba(171,171,171,1);
	-moz-box-shadow: 0px 0px 25px 0px rgba(171,171,171,1);
	box-shadow: 0px 0px 25px 0px rgba(171,171,171,1);
}

#view-systems .view-content .systems-box h1 {
	margin-bottom: 30px;
}

#view-systems .view-content .systems-box .systems-input {
	width: 50%;
	margin: 10px 25%;
	border-bottom: 1px solid #696673;
	padding: 10px;
	color: #696673;
	text-align: left;
}

#view-systems .view-content .systems-box .systems-input i {
	margin-right: 45px;
	color: #ff8282;
}

#view-systems .view-content .systems-box .systems-button {
	background-color: #ff8282;
	color: #fff;
	padding: 8px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width: 50%;
	margin: 20px 25%;
}

/************** VIEW-MAIN ****************/
#view-main {
	background: url('../images/background-main.png') repeat 0 0;
}

#view-main .view-content {
	margin-top: 250px;
	position: absolute;
	width: 100%;
}

#view-main .view-content h1 {
	color: #ec7c6d;
	font-size: 70px;
	margin: 0;
}

#view-main .view-content h2 {
	color: #d1cbd2;
	font-size: 40px;
	margin: 0;
}

/************** VIEW-SITES ****************/
#view-sites {
	background: url('../images/background-sites.png') repeat 0 0;
}

#view-sites .html-text {
	color: #ebb859;
}

#view-sites .html-text .align-first {
	margin-left: 5px;
}

#view-sites .html-text .align-second {
	margin-left: 10px;
}

#view-sites .html-text .align-third {
	margin-left: 15px;
}

align-first

#view-sites {
	background: url('../images/background-sites.png') repeat 0 0;
}

/************** VIEW-DESIGN ****************/
#view-design {
	background: url('../images/background-design.png') repeat 0 0;
}

#view-design .view-content .description {
	margin: 40px 0;
}

#view-design .view-content .description h1 {
	color: #ec7c6d;
	font-size: 40px;
	margin: 5px 0 10px 0;
}

#view-design .view-content .description h2 {
	color: #d1cbd2;
	font-size: 24px;
	margin: 0;
}

#view-design .view-content .design-page {
	background-color: #fff;
	padding: 0;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(153,153,153,1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(153,153,153,1);
	box-shadow: 0px 0px 15px 0px rgba(153,153,153,1);
}

#view-design .view-content .design-page .design-logo {
	border: 1px solid #d1cbd2;
	margin: 20px 0 20px 10px;
	padding: 10px;
	color: #d1cbd2;
	text-align: center;
}

#view-design .view-content .design-page .design-menu {
	margin-right: 0;
	padding: 0;
}

#view-design .view-content .design-page .design-menu ul {
	background-color: #8c858d;
	margin: 20px 0;
	height: 40px;
	color: #999;
	list-style: none;
	text-align: center;
}

#view-design .view-content .design-page .design-menu ul li {
	color: #d1cbd2;
	float: left;
	padding: 10px 5px;
}

#view-design .view-content .design-page .design-slider {
	border-top: 1px solid #d1cbd2;
	border-bottom: 1px solid #d1cbd2;
	padding: 80px 0;
	color: #d1cbd2;
	text-align: center;
}

#view-design .view-content .design-page .design-services h1 {
	color: #d1cbd2;
	font-size: 1em;
	margin-bottom: 15px;
}

#view-design .view-content .design-page .design-services ul {
	list-style: none;
	-moz-padding-start: 0;
	-webkit-padding-start: 0;
	-khtml-padding-start: 0;
	-o-padding-start: 0;
	padding-start: 0;
}

#view-design .view-content .design-page .design-services ul li {
	width: 100%;
	height: 4px;
	background-color: #d1cbd2;
	margin: 7px 0;
}

#view-design .view-content .design-page .design-social {
	color: #d1cbd2;
	text-align: center;
}

#view-design .view-content .design-page .design-social .box {
	border: 1px solid #d1cbd2;
	margin: 10px;
	padding: 100px 0;
}

#view-design .view-content .design-page .design-clients .client-left,
#view-design .view-content .design-page .design-clients .client-right {
	font-size: 36px;
	color: #d1cbd2;
	margin-top: 20px;
}

#view-design .view-content .design-page .design-clients ul {
	list-style: none;
	-moz-padding-start: 0;
	-webkit-padding-start: 0;
	-khtml-padding-start: 0;
	-o-padding-start: 0;
	padding-start: 0;
}

#view-design .view-content .design-page .design-clients ul li {
	float: left;
	padding: 30px 20px;
 	margin: 12px;
	border: 1px solid #d1cbd2;
	color: #d1cbd2;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#view-design .view-content .design-page .design-rodape {
	padding: 20px;
	background-color: #d1cbd2;
	color: #fff;
	text-align: center;
}

#view-projects {
	background: url('../images/background-projects.png') repeat 0 0;
}

 #view-projects .view-content .project {
 	height: 180px;
 	overflow: hidden;
 	margin: 0;
 	padding: 0;
 }
 
 
/************** VIEW-PROJECTS ****************/
#view-projects .view-content .project img {
  width: 100%;
}

#view-projects .view-content .project .project-description {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding: 20px;
  background-color: #c56459;
  opacity: 0.95;
  filter: alpha(opacity=95);
}

#view-projects .view-content .project .project-description h1 {
  color: #fff;
}

#view-projects .view-content .project .project-description p {
  color: #FFCBC4;
}

#view-projects .view-content .project .project-description a {
  background-color: #ec7c6d;
  color: #c56459;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#view-projects .view-content .project .project-description a:hover {
  background-color: #FFCBC4;
}


/************** LOGO ****************/
logo {
	padding: 0;
}

#logo {
	float: left;
	width: 230px;
	height: 100px;
	margin-top: 20px;
	background-color: #c56459;
	cursor: pointer;
	z-index: 9999;
}

#logo .title {
	color: #fff;
	font-size: 22px;
	margin: 20px 0 0 20px;
}

#logo .subtitle {
	color: #FFCBC4;
	font-size: 19px;
	margin: -5px 0 0 20px;
}

/************** MENU ****************/
menu {
	padding: 0;
}

#menu-content {
	margin-top: 10px;
	position: relative;
	overflow: hidden;
	float: right;
	width: 100px;
	height: 100px;
	-webkit-transition: all 0.2s ease 0.05s;
	-moz-transition: all 0.2s ease 0.05s;
	-o-transition: all 0.2s ease 0.05s;
	transition: all 0.2s ease 0.05s;
	z-index: 9999;
}

#menu-content.show {
	width: 600px !important;
	height: 525px !important;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#menu {
	position: absolute;
	right: -435px;
}

.show #menu {
	position: relative !important;
	right: 0 !important;
}

#menu-nav {
	float: right;
	height: 50px;
	background-color: #c56459;
	width: 500px;
}

#menu-nav ul {
	padding: 0;
}

#menu-nav ul li {
	float: left;
	list-style: none;
}

#menu-nav ul li a {
	color: #ec7c6d;
	text-transform: uppercase;
	font-weight: 900;
	padding: 16px 10px;
	height: 50px;
	display: inline-block;
}

#menu-nav ul li a:hover {
	color: #fff;
}

#menu-nav ul li.list ul  {
	padding: 15px;
	cursor: pointer;
}

#menu-nav ul li.list ul li {
	height: 4px;
	width: 35px;
	background-color: #ec7c6d;
	margin: 2px;
	clear: both;
}

#menu-contato, #form-contato {
	clear: both;
	background-color: #ec7c6d;
	float: right;
	width: 500px;
}

#menu-contato a {
	padding: 0 17px;
	float: left;
}

#menu-contato .title {
	font-size: 40px;
	color: #c56459;
	margin-left: 20px;
	margin-top: 13px;
	float: left;
}

#menu-contato a span {
	color: #c56459;
	font-size: 35px;
  	padding: 7px 0;
}


#form-contato form {
	padding: 0 20px;
	clear: both;
}

#form-contato form label {
	color: #c56459;
}

/************** VIEW-CONTENT-GENERAL ****************/
.view-content .skills-buttons button, #view-main .view-content .main-buttons a {
	font-size: 1.4em;
	padding: 10px 60px;
	border: none;
	margin: 5px 0;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.view-content .skills-buttons button i, #view-main .view-content .main-buttons a i {
	margin-right: 10px;
	font-size: 0.8em;
}

.view-content .skills-buttons button:nth-child(even), #view-main .view-content .main-buttons a:nth-child(even) {
	background-color: #c56459;
	color: #ec7c6d;
}

.view-content .skills-buttons button:nth-child(odd), #view-main .view-content .main-buttons a:nth-child(odd) {
	background-color: #ec7c6d;
	color: #c56459;
}



/************** ANIMATES ****************/
.anime-title-first {
	position: relative;
	display: block;
    -webkit-animation: titleFirst 0.5s ease-in-out;
}

.anime-title-second {
	position: relative;
	display: block;
    -webkit-animation: titleSecond 1.5s ease;
}

.anime-title-third {
	position: relative;
	display: block;
    -webkit-animation: titleThird 1.5s ease-in-out;
}


@-webkit-keyframes titleFirst {
    0% {
    	visibility: hidden;
    	opacity: 0;
    	top: -300px;
    }
    100% {
    	top: 0;
    	opacity: 1;
    	visibility: visible;
    }
}

@-webkit-keyframes titleSecond {
    0% {
    	visibility: hidden;
    	opacity: 0;
    	top: -500px;
    }
    100% {
    	left: 0;
    	visibility: visible;
    	opacity: 1;
    }
}

@-webkit-keyframes titleThird {
    0% {
    	bottom: -500px;
    	visibility: hidden;
    	opacity: 0;
    }
    100% {
    	bottom: 0;
    	visibility: visible;
    	opacity: 1;
    }
}

@-webkit-keyframes burst {
  0% {
    opacity: .6;
  }

  50% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes burst {
  0% {
    opacity: .6;
  }

  50% {
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
