<div id="view-about">

	<logo></logo>
	<menu></menu>
	<div class="view-content">
	
		<div id="about-me" class="col-xs-12 col-sm-5 col-sm-offset-1">
			<h1>Thais Martins</h1>
			<h2>Desenvolvedora Web</h2>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus augue tortor, faucibus a quam in, pulvinar ullamcorper quam.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus augue tortor, faucibus a quam in, pulvinar ullamcorper quam.</p>
			
			<a href="#" class="btn btn-primary btn-lg"><i class="fa fa-linkedin"></i> Conheça meu linkedin</a>
			<a href="#" class="btn btn-default btn-lg"><i class="fa fa-github"></i> Conheça meu github</a>
		</div>
		
		<div class="col-xs-12 col-sm-5">
			<ul id="skills">
				<li ng-repeat="item in skills" class="{{item.id}}">{{item.name | uppercase}}</li>
			</ul>
		</div>
	</div>

</div>

