<div id="view-design" class="container-fluid" style="height:{{pageHeight}}px">
	<div class="view-content">
	
		<div class="design-page col-sm-offset-1 col-sm-5 col-xs-12">
			<div class="design-logo col-sm-2 col-xs-4">LOGO</div>
			<div class="design-menu col-sm-8 col-xs-6 pull-right">
				<ul>
					<li class="hidden-xs">Página Inicial</li>
					<li class="hidden-xs">Sobre Nós</li>
					<li class="hidden-xs">Serviços</li>
					<li class="hidden-xs">Contato</li>
					<li class="hidden-sm hidden-md hidden-lg">MENU</li>
				</ul>
			</div>
			<div class="design-slider col-xs-12">
				<div class="design-square col-sm-7">
					<img src="images/chart.png" alt="Destaque" title="Destaque" />
				</div>
				<div class="design-text col-sm-4 col-xs-12">
					<h1>Produto em destaque</h1>
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<div class="design-button">ver +</div>
				</div>
			</div>
			<div class="design-services col-xs-12 col-sm-8">
				<div class="col-sm-4">
					<h1>Seu Serviço</h1>
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
				<div class="col-sm-4">
					<h1>Seu Serviço</h1>
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
				<div class="col-sm-4">
					<h1>Seu Serviço</h1>
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
			
			<div class="design-social col-sm-4 col-xs-12 pull-right">
				<div class="box">REDES SOCIAIS</div>
			</div>
			
			<div class="design-clients col-sm-8">
				<div class="client-left"><i class="fa fa-angle-left"></i></div>
				<div class="design-client">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<p>Cliente Tal, da empresa Tal</p>
				</div>
				<div class="design-client">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<p>Cliente Tal, da empresa Tal</p>
				</div>
				<div class="client-right"><i class="fa fa-angle-right"></i></div>
			</div>
			
			<div class="design-rodape col-xs-12">
				<div class="design-item col-xs-12 col-sm-4">Menu de navegação</div>
				<div class="design-item col-xs-12 col-sm-4">Links para redes socias</div>
				<div class="design-item col-xs-12 col-sm-4">Contatos da empresa</div>
			</div>
		</div>
		
		<div class="col-sm-offset-1 col-sm-4 col-xs-12">
			<div class="description">
				<h2>Posso te ajudar</h2>
				<h1>com o visual</h1>
				<h2>do seu negócio</h2>
			</div>
			
			<div class="skills-buttons">
				<button class="btn btn-default" ng-repeat="skill in skills.design">
					<i class="fa fa-{{skill.icon}}"></i> {{skill.name}}
				</button>
			</div>
		</div>
	</div>
</div>
