<div id="view-main">

	<logo></logo>
	<menu></menu>
	
	<div class="view-content text-center">
		<div id="main-description">
			<h2 ng-class="showFirst == true ? 'anime-title-first' : '';" ng-init="showFirst = true;">Olá, eu sou</h2>
			<h1 ng-class="showSecond == true ? 'anime-title-second' : '';" ng-init="showSecond = true;">Thais Martins</h1>
			<h2 ng-class="showThird == true ? 'anime-title-third' : '';" ng-init="showThird = true;">8 anos de experiencia em</h2>
			<h2>desenvolvimento web</h2>
		</div>
		<div class="main-buttons">
			<a ng-repeat="network in networks" href="{{network.link}}" class="btn btn-default"><i class="fa fa-{{network.icon}}"></i> {{network.name}}</a>
		</div>
		<div class="next-button">
			<a href="#design"><i class="fa fa-angle-double-down"></i></a>
		</div>
	</div>
</div>

