<div id="view-mobile">

	<logo></logo>
	<menu></menu>

	<div class="view-content">
		<div class="mobile col-sm-offset-1 col-sm-5 col-sx-12">
			<div class="mobile-logo">LOGO</div>
			<div class="mobile-menu">
				<ul>
					<li>Página Inicial</li>
					<li>Sobre Nós</li>
					<li>Serviços</li>
					<li>Contato</li>
				</ul>
			</div>
			<div class="mobile-main"></div>
			<div class="mobile-rodapé">Todos os direitos reservados</div>
		</div>
		
		<div class="col-sm-offset-1 col-sm-4 col-sx-12">
			<div class="description">
				<h2>Seu sistema</h2>
				<h1>em um app mobile</h1>
			</div>
			<div class="skills-buttons">
				<button class="btn btn-default" ng-repeat="skill in skills">
					<i class="fa fa-{{skill.icon}}"></i> {{skill.name}}
				</button>
			</div>
		</div>
	</div>
	
</div>

