<div id="view-projects">

	<logo></logo>
	<menu></menu>

	<div class="view-content" class="text-center">
		<div class="project col-sm-3 col-xs-12 text-center" ng-repeat="project in projects"
			ng-mouseenter="project.showDescription = true;" ng-mouseleave="project.showDescription = false;">
			
			<img src="{{baseUrl}}{{project.name | url}}/{{project.image}}" alt="{{project.name}}" title="{{project.name}}" class="img-responsive" />
			<div class="project-description" ng-show="project.showDescription == true;">
				<h1>{{project.name}}</h1>
				<p>{{project.shortDescription}}</p>
				<a href="{{project.link}}" class="btn btn-default"><i class="fa fa-desktop"></i></a>
				<a href="{{project.site}}" class="btn btn-default"><i class="fa fa-chain"></i></a>
			</div>
			
		</div>
	</div>
	
</div>