<div id="view-systems" class="container-fluid" style="height:{{pageHeight}}px">
	<div class="view-content" class="text-center">
	
		<div class="systems-box col-sm-5 col-sm-offset-1 col-xs-12">
			<h1>Bem vindo ao seu novo sistema</h1>
			<div class="systems-login-box">
				<p>Entre com seus dados de acesso:</p>
				<div class="systems-input"><i class="fa fa-user"></i> <span class="hidden-xs">digite seu </span>usuário</div>
				<div class="systems-input"><i class="fa fa-key"></i> <span class="hidden-xs">digite sua </span>senha</div>
				<div class="systems-button">Entrar</div>
			</div>
		</div>
		
		<div class="col-sm-offset-1 col-sm-4 col-xs-12">
			<div class="description">
				<h2>Sua estrutura em</h2>
				<h1>sistema web</h1>
			</div>
			<div class="skills-buttons">
				<button class="btn btn-default" ng-repeat="skill in skills.systems">
					<i class="fa fa-{{skill.icon}}"></i> {{skill.name}}
				</button>
			</div>
		</div>
		
	</div>
</div>